---
cwd_base_uri: http://cwd-dev.lncd.org/
---
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }} - Nucleus</title>
	<meta name="description" content="The Common Web Design is the new branding for the University of Lincoln's online services">
	<meta name="author" content="Online Services Team; ost@lincoln.ac.uk">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{page.cwd_base_uri}}favicon.ico">
	<link rel="apple-touch-icon" href="{{page.cwd_base_uri}}icon.png">

	<link rel="stylesheet" href="{{page.cwd_base_uri}}/cwd.css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet" type="text/css">

	<!--[if (lt IE 9) & (!IEMobile)]>
		<link rel="stylesheet" href="{{page.cwd_base_uri}}/ie.min.css">
		<script src="{{page.cwd_base_uri}}html5shiv.min.js"></script>
	<![endif]-->
 
</head>

<body>

	<div id="cwd-wrap">

		<div id="cwd-main">

			<aside class="navbar navbar-inverse navbar-static-top hidden-phone" id="cwd-global-nav">
				<nav class="navbar-inner"></nav>
			</aside>

			<header id="cwd-header">

				<div class="container">

					<hgroup id="cwd-hgroup">

						<h1>Nucleus</h1>

					</hgroup>

					<div class="navbar">
						<div class="navbar-inner">

							<a class="btn btn-mini btn-navbar" id="cwd-menu-collapse" data-toggle="collapse" data-target=".nav-collapse">
								Menu
							</a>

							<div class="nav-collapse">

								<ul class="nav">
									<li{% if page.nav == 'home' %} class="active"{% endif %}><a href="index.html">Home</a></li>
									<li{% if page.nav == 'objects' %} class="active"{% endif %}><a href="objects.html">Objects</a></li>
									<li{% if page.nav == 'security' %} class="active"{% endif %}><a href="security.html">Security</a></li>
								</ul>

							</div>
						</div>
					</div>

				</div>

			</header>




			<div class="container">
			
				<hgroup id="cwd-hgroup">

					<h1>{{ page.title }}</h1>

				</hgroup>

				{{ content }}

			</div>

		</div><!--#main-->

	</div><!--#wrap-->

	<footer class="container" id="cwd-footer" role="contentinfo">		

		<div class="row">

			<div class="span8">
				&copy; University of Lincoln
			</div>

			<div class="span2">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="http://support.lincoln.ac.uk/" target="_blank">ICT Support Desk</a>
					</li>
					<li>
						<a href="http://lincoln.ac.uk/home/termsconditions/" target="_blank">Policy statements</a>
					</li>
				</ul>
			</div>

			<div class="span2">	
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="http://gateway.lincoln.ac.uk/" target="_blank">Gateway</a>
					</li>
					<li>
						<a href="http://lincoln.ac.uk/" target="_blank">www.lincoln.ac.uk</a>
					</li>
				</ul>
			</div>
		</div>
		
	</footer>

	<script src="{{page.cwd_base_uri}}plugins.min.js"></script>

</body>
</html>
