---
layout: cwd
---

<div class="row">

	<div class="span12">

		<ul class="nav nav-pills">
			<li{% if page.title == 'Academic Year' %} class="active"{% endif %}><a href="academic_year.html">Academic Year</a></li>
			<li{% if page.title == 'Accrediting Body' %} class="active"{% endif %}><a href="accrediting_body.html">Accrediting Body</a></li>
			<li{% if page.title == 'Assessment' %} class="active"{% endif %}><a href="assessment.html">Assessment</a></li>
			<li{% if page.title == 'Award' %} class="active"{% endif %}><a href="award.html">Award</a></li>
			<li{% if page.title == 'Benchmark Statement Level' %} class="active"{% endif %}><a href="benchmark_statement_level.html">Benchmark Statement Level</a></li>
			<li{% if page.title == 'Benchmark Statement' %} class="active"{% endif %}><a href="benchmark_statement.html">Benchmark Statement</a></li>
			<li{% if page.title == 'Benchmark Subject Type' %} class="active"{% endif %}><a href="benchmark_subject_type.html">Benchmark Subject Type</a></li>
			<li{% if page.title == 'Benchmark Subject' %} class="active"{% endif %}><a href="benchmark_subject.html">Benchmark Subject</a></li>
			<li{% if page.title == 'Building DEC Rating' %} class="active"{% endif %}><a href="building_dec_rating.html">Building DEC Rating</a></li>
			<li{% if page.title == 'Building Component' %} class="active"{% endif %}><a href="building_component.html">Building Component</a></li>
			<li{% if page.title == 'Building Nickname' %} class="active"{% endif %}><a href="building_nickname.html">Building Nickname</a></li>
			<li{% if page.title == 'Building' %} class="active"{% endif %}><a href="building.html">Building</a></li>
			<li{% if page.title == 'College' %} class="active"{% endif %}><a href="college.html">College</a></li>
			<li{% if page.title == 'Contact Type Category' %} class="active"{% endif %}><a href="contact_type_category.html">Contact Type Category</a></li>
			<li{% if page.title == 'Contact Time' %} class="active"{% endif %}><a href="contact_time.html">Contact Time</a></li>
			<li{% if page.title == 'Contact Type' %} class="active"{% endif %}><a href="contact_type.html">Contact Type</a></li>
			<li{% if page.title == 'Course Code' %} class="active"{% endif %}><a href="course_code.html">Course Code</a></li>
			<li{% if page.title == 'Curriculum Mapping' %} class="active"{% endif %}><a href="curriculum_mapping.html">Curriculum </a></li>
			<li{% if page.title == 'Delivery Mode' %} class="active"{% endif %}><a href="delivery_mode.html">Delivery Mode</a></li>
			<li{% if page.title == 'Department' %} class="active"{% endif %}><a href="department.html">Department</a></li>
			<li{% if page.title == 'Faculty' %} class="active"{% endif %}><a href="faculty.html">Faculty</a></li>
			<li{% if page.title == 'Infrastructure Nickname' %} class="active"{% endif %}><a href="infrastructure_nickname.html">Infrastructure Nickname</a></li>
			<li{% if page.title == 'Infrastructure' %} class="active"{% endif %}><a href="infrastructure.html">Infrastructure</a></li>
			<li{% if page.title == 'Institution' %} class="active"{% endif %}><a href="institution.html">Institution</a></li>
			<li{% if page.title == 'JACS Code' %} class="active"{% endif %}><a href="jacs_code.html">JACS Code</a></li>
			<li{% if page.title == 'Keyword Course Link' %} class="active"{% endif %}><a href="keyword_course_link.html">Keyword Course Link</a></li>
			<li{% if page.title == 'Keyword' %} class="active"{% endif %}><a href="keyword.html">Keyword</a></li>
			<li{% if page.title == 'Learning Outcome' %} class="active"{% endif %}><a href="learning_outcome.html">Learning Outcome</a></li>
			<li{% if page.title == 'Level' %} class="active"{% endif %}><a href="level.html">Level</a></li>
			<li{% if page.title == 'Location' %} class="active"{% endif %}><a href="location.html">Location</a></li>
			<li{% if page.title == 'Location Nickname' %} class="active"{% endif %}><a href="location_nickname.html">Location Nickname</a></li>
			<li{% if page.title == 'Marketing Record' %} class="active"{% endif %}><a href="marketing_record.html">Marketing Record</a></li>
			<li{% if page.title == 'Meter Reading' %} class="active"{% endif %}><a href="meter_reading.html">Meter Reading</a></li>
			<li{% if page.title == 'Meter' %} class="active"{% endif %}><a href="meter.html">Meter</a></li>
			<li{% if page.title == 'Module Code' %} class="active"{% endif %}><a href="module_code.html">Module Code</a></li>
			<li{% if page.title == 'Module Link' %} class="active"{% endif %}><a href="module_link.html">Module Link</a></li>
			<li{% if page.title == 'Module' %} class="active"{% endif %}><a href="module.html">Module</a></li>
			<li{% if page.title == 'Person' %} class="active"{% endif %}><a href="person.html">Person</a></li>
			<li{% if page.title == 'Person Location' %} class="active"{% endif %}><a href="people_location.html">Person Location</a></li>
			<li{% if page.title == 'Programme Outcome' %} class="active"{% endif %}><a href="programme_outcome.html">Programme Outcome</a></li>
			<li{% if page.title == 'Programme Outcome Category' %} class="active"{% endif %}><a href="programme_outcome_category.html">Programme Outcome Category</a></li>
			<li{% if page.title == 'Programme' %} class="active"{% endif %}><a href="programme.html">Programme</a></li>
			<li{% if page.title == 'School' %} class="active"{% endif %}><a href="school.html">School</a></li>
			<li{% if page.title == 'Space' %} class="active"{% endif %}><a href="space.html">Space</a></li>
			<li{% if page.title == 'Subject' %} class="active"{% endif %}><a href="subject.html">Subject</a></li>
			<li{% if page.title == 'Teaching Location' %} class="active"{% endif %}><a href="teaching_location.html">Teaching Location</a></li>
			<li{% if page.title == 'Terrain' %} class="active"{% endif %}><a href="terrain.html">Terrain</a></li>
			<li{% if page.title == 'Terrain Nickname' %} class="active"{% endif %}><a href="terrain_nickname.html">Terrain Nickname</a></li>
		</ul>
		
		<hr>
		
		{{ content }}
		
	</div>
	
</div>