---
layout: object_wrapper
---
		
<p>Endpoint: <code>{{ page.endpoint }}</code></p>

{{ content }}

<h2>Query Parameters</h2>

<table class="table table-condensed table-striped table-bordered">
	<thead>
		<tr>
			<th>Parameter</th>
			<th>Type</th>
			<th>Information</th>
		</tr>
	</thead>
	<tbody>
		<tr><td><code>format</code></td><td>string</td><td>The output format. <code>json</code> or <code>xml</code>.</td></tr>
		<tr><td><code>callback</code></td><td>string</td><td>If JSONP is required, the name of the callback function.</td></tr>
		{% for query_param in page.query_params %}
		<tr><td><code>{{ query_param.name }}</code></td><td>{{ query_param.type }}</td><td>{{ query_param.description }}</td></tr>
		{% endfor %}
	</tbody>
</table>

<h2>Example Output</h2>
<h3>json</h3>

<pre><code> {{ page.expected_output_json }} </code></pre>
